body{
    background-color: #cfaa00;
}
.products{
    width:68vw;
    height:58vh;
    display:flex;
}
.products fieldset{
    width: 20vw;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 4vh;
    border: 1px solid black;
}
legend{
    padding: 2% 2% 1% 2%;
    background-color: black;
    color:white;
}
.products .col1 .img1 {
    width:17vw;
    height: 20vh;   
}
.products .col2 .img1{
    width:11vw;
    height: 20vh;
    padding-left:14%;
}
.products .col3 .img1{
    width:13vw;
    height:20vh;
    padding-left:5%;
}
.products h3{
    padding-top: 5vh;
}
